.image {
  height: 12rem;
  object-fit: cover;
  width: 100%;
  border-radius: 1rem;
  border: 2px solid transparent;
  padding: 2px;
  transition: border 0.2s ease-out;
}

.imageButton {
  background: unset;
  border: unset;
  width: 100%;
  cursor: pointer;
}

.selected,
.imageButton:hover .image {
  border-color: var(--active);
}

p {
  margin: 0 0 0.25rem;
}

.filename {
  font-weight: var(--font-weight-bold);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.size {
  color: var(--grey);
}

.text {
  padding-left: 0.25rem;
  font-size: 0.875rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favoriteButton {
  outline: none;
  background-color: transparent;
  border: none;
  color: var(--grey);
}

.favorited {
  color: red;
}

@media (max-width: 1200px) {
  .image {
    height: 10rem;
  }
}
