.tab {
  position: relative;
  padding: 0.5rem 2rem 1rem 0;
  outline: none;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
  background-color: transparent;
  border: none;
  color: var(--grey);
}

.tab::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 2rem;
  height: 2px;
  background-color: var(--active);
  opacity: 0;
  transition: opacity 0.2s linear;
}

.tab.selected {
  color: var(--active);
}

.tab.selected::after {
  opacity: 1;
  transition: opacity 0.4s linear;
}

.tab:focus-visible {
  outline: 4px solid var(--active-light);
}
